.results ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-top: 1%;
  margin: 0 auto;
}

.results ul li img {
  width: 15%;
}

.results ul li h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.results .searchMovieName {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results li {
  display: flex;
  background-color: #e0ded5;
  border: 2px solid #eeeeed;
  height: 25%;
  width: 100%;
}

.results li:hover {
  border-color: #e85a50;
  transition: 0.5s;
}

.results a {
  text-decoration: none;
  color: #999791;
}

@media only screen and (max-width: 768px) {
  .results ul {
    width: 75%;
  }

  .results ul li img {
    width: 50%;
  }
}
