.watchlist {
  width: 75%;
  margin: 0 auto;
}

.watchlist h2 {
  margin-top: 5%;
  text-align: center;
  color: #8e8d89;
}

.watchlistMovie {
  display: inline;
  margin: 0 auto;
}

.watchlistMovie img {
  width: 20%;
  margin: 2.5%;
  transition: 0.5s;
}

.watchlistMovie img:hover {
  opacity: 0.7;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10%;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .watchlist {
    width: 90%;
  }

  .watchlistMovie img {
    width: 80%;
  }
}
