.actorInfo {
  margin-top: 3%;
  background-color: #E0DED5;
  color: #8E8D89;
}

.profile img {
  width: 20%;
  display: block;
  margin:auto;
  border-radius: 3%;
}

.biography {
  text-align: center;
}

.biography .name {
  color: #E88073;
}

.filmography {
  padding-top: 3%;
  margin: 0 auto;
  width: 80%;
}

.actorMovie {
  border: 2px solid #EEEEED;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actorMovie img {
  width: 10%;
}

.actorMovie h3 {
  display: inline-block;
  padding-left: 10%;
  margin: 0;
}