.header {
  text-align: center;
  color: #E85A50;
}

img {
  width: 60px;
}

.header h1 {
  font-size: 3rem;
  color: #E85A50;
  display: inline-block;
}

.header p, .header a {
  color: #E88073;
}

.header h1, .header p {
  margin: 0;
  padding: 0;
}

.header h1:hover, .header span:hover {
  color: #BC2721;
  cursor: pointer;
}