.actorInfo {
  margin-top: 3%;
  background-color: #e0ded5;
  color: #8e8d89;
}

.actorInfo a {
  text-decoration: none;
  color: #999791;
}

.actorInfo a:hover {
  color: #e88073;
}

.profile img {
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 3%;
}

.biography {
  text-align: center;
}

.biography .name {
  color: #e88073;
}

.filmography {
  padding-top: 3%;
  margin: 0 auto;
  width: 80%;
}

.actorMovie {
  border: 2px solid #eeeeed;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
}

.actorMovie:hover {
  transition: 0.5s;
  border-color: #e88073;
}

.actorMovie img {
  width: 10%;
}

.actorMovie h3 {
  display: inline-block;
  padding-left: 10%;
  margin: 0;
}
