.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 60px;
}

.header a {
  text-decoration: none;
  color: #000;
}

.ui.dropdown {
  display: inline-block;
  text-decoration: none;
}

.header h1 {
  font-size: 3rem;
  color: #e85a50;
  display: inline-block;
}

.header p,
.header .tmdbLink {
  color: #e88073;
}

.header h1,
.header p {
  margin: 0;
  padding: 0;
}

.header h1:hover,
.header span:hover {
  color: #bc2721;
  cursor: pointer;
}

.header .userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
}

.header .userInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
