.reset {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  background: #ffffff;
  padding: 5%;
  border-radius: 20px;
  text-align: center;
}

.reset input {
  background: white;
  width: 100%;
  font-size: 1.5rem;
  margin: 2% 0 2% 0;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #e0ded5;
  font-family: 'Comfortaa', cursive;
}

.reset input:focus {
  border-bottom: 2px solid #e88073;
  transition: 0.2s;
}

.reset label {
  color: #e85a50;
  display: block;
  text-align: left;
}

.btnReset {
  color: white;
  background-color: #e85a50;
  font-family: 'Comfortaa', cursive;
  padding: 2%;
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 2%;
  margin-bottom: 2%;
}

.reset p {
  color: #e85a50;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .reset {
    width: 300px;
  }
  .reset input {
    font-size: 1.5rem;
  }
}
